<section class="seccion-1 centro">
  <div class="formulario-wrapper">
    <nav class="navbar">
      <a class="navbar-link" href="#">Iniciar sesion</a>
      <a class="navbar-link" href="#">Olvide mi contraseña</a>
    </nav>
    <div class="formulario-izquierda">
      <div class="logo">
        <app-logo [ancho]=200></app-logo>
      </div>
      <h3 class="form-titulo">Registrarme con mi cuenta de Amazon</h3>
      <form>
        <div class="input-grupo">
          <label class="input-label">Nombre Completo</label>
          <input type="text" class="campo">
        </div>
        <div class="input-grupo">
          <label class="input-label">Correo</label>
          <input type="email" class="campo">
        </div>
        <div class="input-grupo">
          <label class="input-label">Clave</label>
          <input type="password" class="campo">
        </div>
        <div class="grupo-recordar">
          <div>
            <input class="recordarme" type="checkbox">
            <label>Recordar mis datos</label>
          </div>
          <a class="enlace" href="#">Soy nuevo en Amazon</a>
        </div>
        <app-boton valorBoton="Registrarse"></app-boton>
      </form>
    </div>
    <div class="formulario-derecha centro">
      <div class="contenido-derecha">
        <h1 class="derecha-titulo">Registrate y obten un audiolibro gratis</h1>
        <h3 class="texto-titulo">Escuchar tus audiolibros favoritos, es mas facil que nunca</h3>
        <p class="texto-parrafo">
          Al registrarse, tu membresia incluye 30 dias con 1 audiolibro + Audible Originals selectos totalmente
          gratis.
        </p>
      </div>
    </div>
  </div>
</section>